[submodule "jsoncons"]
	path = libs/jsoncons
	url = https://github.com/danielaparker/jsoncons.git
[submodule "websocketpp"]
	path = libs/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "concurrentqueue"]
	path = libs/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
